* {
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: Arial;
    padding: 10px;
}
header{
    text-align: center;
    padding: 30px;
    background-color: #fff;
}

nav{
    position: relative;
    background-color: #333;
    
}
nav ul { 
    margin: 30px;
    position: relative;
}

nav ul li {
    margin: 50px;
    background-color: blue;
    display: inline-block;
    padding:20px;
}





nav ul li:nth-child(2),nav ul li:nth-child(3),nav ul li:nth-child(4),nav ul li:nth-child(5){
    background-color: blue;
    padding-top: 0px;
    padding-left: 64px;
    margin-bottom: 16;
    margin-top: 47;
   

}

main section img{
    padding-left: 150px;
    
}
main section{
    margin: 13px;
    margin:50px;
}


main section {
    margin-top: 30px;
    display: flex;
}

main section img {
    width: 480px;
    height: 400px;
}

main section div p {
    font-family: 'Noto Sans TC', sans-serif;
    font-style: oblique;
    font-size: 25px;
    width: 100%;
}

button {
    float: right;
    margin-left: 11px;
}

button {
    color: #A1A1A1;
    background-color: black;
    width: 200px;
    font-size: 20px;
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
}


    footer {
        height: 100px;
        background-color: #3a3a3a;
    }

